@import "vars";
body {
    font-family: "Poppins", "Noto Sans KR";
    color: #111;
    -webkit-font-smoothing: antialiased;
}
#header {
    position: fixed;
    display: flex;
    width: 100%;
    height: 200px;
    padding:0 50px;
    justify-content: space-between;
    align-items: center;
    z-index: 3;
    &.on {
        .btnAll span {
            //background-color: #111;
            &:nth-child(1) {top:40px;transform:rotate(45deg);}
            &:nth-child(2) {opacity: 0;left:-100px;}
            &:nth-child(3) {top:40px;transform:rotate(-45deg);}
        }
        #logo {
            //color:#111;
        }
    }
    #logo {
        font-size: 20px;
        font-weight: 100;
        color:#fff;
        transition: all 0.25s ease;

        a {
            width:100px;
            height: 100px;
            display: block;
            display: flex;
            padding:10px;
            flex-direction: column;
            justify-content: space-between;
            line-height: 1;
            font-weight: 400;
            text-transform: uppercase;
            background-color: $logo-color;
            overflow: hidden;
            text-align: center;
            //@include longShadow(darken($logo-color,10),right,80);
            .word {
                width:100%;
                display: flex;
                justify-content: space-between;
                .char {width:20px}
            }
        }
    }

    .btnAll {
        width: 80px;
        height: 80px;
        position: relative;
        top:-20px;
        span {
            position: absolute;
            left:20px;
            display: block;
            width: 40px;
            height: 2px;
            background-color: #fff;
            transition:all 0.25s ease;
            &:nth-child(1) {top:25px;}
            &:nth-child(2) {top:40px;}
            &:nth-child(3) {top:55px;}
        }
        
    }
}

#gnb {
    position: fixed;
    width:100%;
    height: 100%;
    background-color: darken($logo-color,10);
    z-index: 1;
    top:-100%;
    color:#fff;
    ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        text-align: left;
        height: 100%;
        padding-left: 50%;
        li {
            font-size: 120px;
            text-transform: uppercase;
            font-weight: 100;
            margin: 10px 0;
            &:hover {
                //font-weight: 900;
            }
        }
    }
}

#main {
    background:repeating-linear-gradient(90deg,rgba(255,255,255,0.05),rgba(255,255,255,0.05) 1px,0,transparent 100px) #333;
    overflow: hidden;
    position: relative;
    
    #words {
        //perspective: 5000px;
        user-select: none;
        min-height: 100vh;
        li {
            position: absolute;
            transform: translate(-50%,-50%);
            text-shadow: 10px 10px 10px rgba(0,0,0,0.2);
            color:#fff;
        }
        .word {
            color:#fff;
            text-transform: uppercase;
            display: flex;
            flex-wrap: wrap;

        }
    }
    .woman {
        position: absolute;
        bottom: 0;
        left:60%;
        transform: translateX(-50%);
        z-index: 0;
        img{
            height: 860px;
        }
    }
    .slogan {
        padding:50px;
        border-radius: 20px;
        background-color: rgba(255,255,255,0.1);
        backdrop-filter: blur(20px);
        box-shadow: 10px 10px 10px rgba(0,0,0,0.1);
        color:#fff;
        position: absolute;
        left:200px;
        top:50%;
        transform: translateY(-50%);
        font-size: 5vw;
        color:#111;
        font-weight: 100;
        overflow: hidden;
        @include longShadow(darken(#fff,70),right,150);
        > span {
            display: block;
            color:#fff;
            text-transform: uppercase;
            .word {
                display: flex;
                justify-content: space-between;
                .char {

                }
            }
            strong {
                //font-weight: 400;
                //text-transform: uppercase;
            }
        }
    }
}